{:description "Keep .clj(s) files formatted",
 :category ["productivity"],
 :repository "https://github.com/atomist-skills/cljformat-skill",
 :license "Apache-2.0",
 :resourceProviders
 [{:name "github",
   :description "GitHub",
   :typeName "GitHubAppResourceProvider",
   :minRequired 1,
   :maxAllowed 1}],
 :homepage "https://github.com/atomist-skills/cljformat-skill",
 :displayName "cljformat skill",
 :name "cljformat",
 :title "Clojure(script) Code Formatter",
 :author "Atomist",
 :dispatch "multiple",
 :iconUrl
 "https://raw.githubusercontent.com/cljs/logo/master/cljs.png",
 :homepageUrl "https://github.com/atomist-skills/cljformat-skill",
 :version "0.1.5",
 :parameters
 [{:singleChoice
   {:description
    "Choose a policy for how to push any formatting changes required",
    :displayName "Update Policy",
    :name "policy",
    :required true,
    :options
    [{:description
      "Push changes using a Commit on an existing branch ref",
      :text "update directly",
      :value "onBranch"}
     {:description
      "Push changes using a Commit on default branch only",
      :text "update default branch",
      :value "onDefaultBranch"}
     {:description "Create a new PR with any updates",
      :text "update in a PR",
      :value "inPR"}]}}
  {:string
   {:description
    "Url for a GitHub gist containing the [cljfmt configuration](https://github.com/weavejester/cljfmt#configuration)",
    :displayName "Optional Config Gist Url",
    :name "config",
    :required false}}
  {:repoFilter
   {:description "The set of Repositories.",
    :displayName "Repository Scope",
    :name "scope",
    :required false}}],
 :namespace "atomist",
 :artifacts
 {:gcf
  [{:name "package-cljs-skill",
    :entryPoint "eventhandler",
    :memory 1024, 
    :runtime "nodejs10", 
    :timeout 360}]}}
